<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726185397513-2io1iakleoqq2bbkooraiqq7fdn5e49u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726185397513-2io1iakleoqq2bbkooraiqq7fdn5e49u</string>
	<key>API_KEY</key>
	<string>AIzaSyCVLLYVOcA2LN3MKABHDupsdErEPkIpfsY</string>
	<key>GCM_SENDER_ID</key>
	<string>726185397513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>login-flutter-cecbd</string>
	<key>STORAGE_BUCKET</key>
	<string>login-flutter-cecbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726185397513:ios:62570caf729edb883cd7d8</string>
</dict>
</plist>